/**
 * Google Fonts Demo
 **/

/* Add in the Google Fonts of your choice */
.thought1 {
    
    font-family: 'Square Peg', cursive;
}

.thought2 {
    font-family: 'Lato', sans-serif;
}

.thought3 {
    font-family: 'My Soul', cursive;
}