<h1>Wish Saver</h1>

<h3>Save Wishes</h3>

<ul>
	<!--TODO write a loop in handlebars to display all of our wishes-->
	{{#each wishes}}
		<li>
			<p>ID: {{this.id}}</p>
			<p>Wish: {{this.wish}} </p>
			{{> button className='btn-primary' label=this.wish}}
		</li>
	{{/each}}
</ul>

<div>
	<form action="/" method="post">
		<textarea type="text" name="wish"></textarea>

		{{> button className='btn-danger'}}
		<button type="submit">Submit</button>
	</form>
</div>

<ul>
	<li>{{> button}}</li>
	<li>{{> button}}</li>
</ul>